# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Compiled
*.class
*.jar
!lib/**/*.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
.metadata/
.factorypath
.apt_generated/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
